.font-1-sm{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.font-1-rl{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.size-36{
  font-size: 36px;
}
.size-32{
  font-size: 32px;
}